<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a0f685">  <td>19/09/19 13:42:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test27CMSMenu.CMSMENU()[pri:57, instance:test.Test27CMSMenu@1e0895f5]">CMSMENU</td> 
  <td>main@1985280051</td>   <td></td> </tr>
<tr bgcolor="a0f685">  <td>19/09/19 13:43:21</td>   <td>32572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test27CMSMenu.CMSMENUCREAR()[pri:58, instance:test.Test27CMSMenu@1e0895f5]">CMSMENUCREAR</td> 
  <td>main@1985280051</td>   <td></td> </tr>
<tr bgcolor="a0f685">  <td>19/09/19 13:44:03</td>   <td>74677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test27CMSMenu.CMSMENUEliminar()[pri:59, instance:test.Test27CMSMenu@1e0895f5]">CMSMENUEliminar</td> 
  <td>main@1985280051</td>   <td></td> </tr>
<tr bgcolor="a0f685">  <td>19/09/19 13:44:44</td>   <td>115939</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.CloseChrome()[pri:0, instance:test.Test27CMSMenu@1e0895f5]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1985280051</td>   <td></td> </tr>
<tr bgcolor="a0f685">  <td>19/09/19 13:42:39</td>   <td>-9130</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test27CMSMenu.IngresoAmbiente()[pri:0, instance:test.Test27CMSMenu@1e0895f5]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1985280051</td>   <td></td> </tr>
<tr bgcolor="a0f685">  <td>19/09/19 13:43:19</td>   <td>30961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test27CMSMenu@1e0895f5]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1985280051</td>   <td></td> </tr>
<tr bgcolor="a0f685">  <td>19/09/19 13:44:01</td>   <td>73406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test27CMSMenu@1e0895f5]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1985280051</td>   <td></td> </tr>
<tr bgcolor="a0f685">  <td>19/09/19 13:44:42</td>   <td>113961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test27CMSMenu@1e0895f5]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1985280051</td>   <td></td> </tr>
</table>
